{% extends 'base.html.twig' %}

{% block title %}Productions Audiovisuelles{% endblock %}

{% block body %}
    <h1>Mes Productions Audiovisuelles</h1>
        <div class= "production_index">
            {% for audiovisuel in audiovisuels %}
                        <a class="production_index_exemple" href="{{ path('audiovisuel_show', {'id': audiovisuel.id}) }}">{{ audiovisuel.name }}</a>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            <a href="{{ path('exercice_new') }}">Create new</a>

        </div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audiovisuel in audiovisuels %}
            <tr>
                <td>{{ audiovisuel.id }}</td>
                <td>{{ audiovisuel.name }}</td>
                <td>
                    <a href="{{ path('audiovisuel_show', {'id': audiovisuel.id}) }}">show</a>
                    <a href="{{ path('audiovisuel_edit', {'id': audiovisuel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('audiovisuel_new') }}">Create new</a>
{% endblock %}
