{% extends 'base.html.twig' %}

{% block title %}Audiovisuel{% endblock %}

{% block body %}
        <div class="show_page">
        <header class="show_header">
            <a class="button_back" href="{{ path('production') }}">Retour à la liste</a>
            <div class="show_header_title">
                <a class="nav_button" href="#">&#8249;</a>
                <div>
                    <h1>{{ audiovisuel.name }}</h1>
                </div>
                
                <a class="nav_button" href="#">&#8250;</a>
            </div>
            <h4>Clip vidéo</h4>
            <h5>mai 2016</h5>
        </header>
        <div class="show_body">
            <div class="show_left">
                <div class="show_box">
                    <h3 class="show_box_title">Informations</h3>
                    <ul class="show_list">
                        <li>hey@oclock.io</li>
                        <li>09.74.76.80.67</li>
                        <li>Spécialisation Symfony</li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
                <div class="show_box">
                    <h3 class="show_box_title">Logiciels & Compétences</h3>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>Adobe Premiere Pro</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                    </ul>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>Derush</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Montage</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Etalonnage</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </li>
                    </ul>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>Symfony</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>React</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Bootstrap</div>
                            <div>&#9733;&#9733;&#9733;&#9734;&#9734;</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="show_center">
                <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/4BHtHeE7BSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="show_right">
                <div class="show_box">
                    <h3 class="show_box_title">Productions</h3>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audiovisuel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ audiovisuel.name }}</td>
            </tr>
        </tbody>
    </table> #}

    <a href="{{ path('audiovisuel_index') }}">back to list</a>

    <a href="{{ path('audiovisuel_edit', {'id': audiovisuel.id}) }}">edit</a>

    {{ include('audiovisuel/_delete_form.html.twig') }}
{% endblock %}
