{% extends 'base.html.twig' %}

{% block title %}Exercice index{% endblock %}

{% block body %}
    <h1>Mes Exercices</h1>
        <div class= "production_index">
            {% for exercice in exercices %}
                        <a class="production_index_exemple" href="{{ path('exercice_show', {'id': exercice.id}) }}">{{ exercice.name }}</a>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            <a href="{{ path('exercice_new') }}">Create new</a>

        </div>






    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.id }}</td>
                <td>{{ exercice.name }}</td>
                <td>
                    <a href="{{ path('exercice_show', {'id': exercice.id}) }}">show</a>
                    <a href="{{ path('exercice_edit', {'id': exercice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
{% endblock %}
