{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
    <h1>Mes Applications</h1>
        <div class= "production_index">
            {% for application in applications %}
                        <a class="production_index_exemple" href="{{ path('application_show', {'id': application.id}) }}">{{ application.name }}</a>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            <a href="{{ path('application_new') }}">Create new</a>

        </div>
{% endblock %}




    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td>{{ application.name }}</td>
                <td>
                    <a href="{{ path('application_show', {'id': application.id}) }}">show</a>
                    <a href="{{ path('application_edit', {'id': application.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    
