{% extends 'base.parcours.html.twig' %}

{% block title %}Mon Parcours{% endblock %}

{% block body %}
    <div class="whole_body">
    <h1>Mon Parcours</h1>
    <div class="parcours_cards">
        
        
        <div class="parcours_card">
            <a class="parcours_card_header" href="{{ path('parcours_show', {'id': "2"}) }}">
                <div class="parcours_card_super_header">
                <h3 class="parcours_card_title">{{ parcours.1.name }}</h3>
                <h4 class="parcours_card_subtitle">{{ parcours.1.subtitle }}</h4>
                <h5 class="parcours_card_duration">{{ parcours.1.dateDebut }} -> {{ parcours.1.dateFin }}</h5>
                </div>
                    <p class="parcours_card_description">{{ parcours.1.description }}</p>
            </a>
            <div class="parcours_card_footer">
                <div class="parcours_card_software">
                    <h3 class="parcours_card_title">Logiciels</h3>
                        <a class="production_card_link" href="">
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">Adobe Premiere Pro</h5>
                            </div>
                        </a>
                        <a class="production_card_link" href="">
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">Final Cut</h5>
                            </div>
                        </a>
                        <a class="production_card_link" href="">
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">Avid Media Composer</h5>
                            </div>
                        </a>
                </div>
                <div class="parcours_card_software">
                    <h3 class="parcours_card_title">Productions</h3>
                        {% for cinemaAudiovisuel in cinemaAudiovisuels %}
                        <a class="production_card_link" href="{{ path('audiovisuel_show', {'id': cinemaAudiovisuel.id }) }}">

                        
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">{{ cinemaAudiovisuel.name }}</h5>
                            </div>
                        </a>
                        {% endfor %}
                </div>
            </div>
        </div>
                <div class="parcours_card">
            <a class="parcours_card_header" href="{{ path('parcours_show', {'id': "3"}) }}">
                <div class="parcours_card_super_header">
                <h3 class="parcours_card_title">{{ parcours.2.name }}</h3>
                <h4 class="parcours_card_subtitle">{{ parcours.2.subtitle }}</h4>
                <h5 class="parcours_card_duration">{{ parcours.2.dateDebut }} -> {{ parcours.2.dateFin }}</h5>
                </div>
                    <p class="parcours_card_description">{{ parcours.2.description }}</p>
            </a>
            <div class="parcours_card_footer">
                <div class="parcours_card_software">
                    <h3 class="parcours_card_title">Applications</h3>
                        {% for oclockApplication in oclockApplications %}
                        <a class="production_card_link" href="{{ path('application_show', {'id': oclockApplication.id }) }}">

                        
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">{{ oclockApplication.name }}</h5>
                            </div>
                        </a>
                        {% endfor %}
                </div>
                <div class="parcours_card_software">
                    <h3 class="parcours_card_title">Documents</h3>
                        {% for oclockDoc in oclockDocs %}
                        <a class="production_card_link" href="{{ asset(oclockDoc.path) }}">
                            <div class="production_card_exemple">
                            <h5 class="parcours_production_card">{{ oclockDoc.name }}</h5>
                            </div>
                        </a>
                        {% endfor %}

                </div>
            </div>
        </div>
    </div>
        
        
        
        
        {# {% for parcour in parcours %}
            
                <a class="parcours_index" href="{{ path('parcours_show', {'id': parcour.id}) }}) }}">{{ parcour.name }}</a>
            <br>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
    {% if "ROLE_ADMIN" in app.user.roles %}
    <div>
        <a href="{{ path('parcours_new') }}">Create new</a>
    </div>
    {% endif %}
    
{% endblock %}
