{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    <div class="show_page">
        <header class="show_header">
            <h1>O'Clock</h1>
            <h4> Développeur web & web mobile</h4>
            <h5>Septembre 2020 -> Avril 2021</h5>
        </header>
        <div class="show_body">
            <div class="show_left">
                <div class="show_box">
                    <h3 class="show_box_title">Informations</h3>
                    <ul class="show_list">
                        <li>hey@oclock.io</li>
                        <li><a href="tel:09.74.76.80.67">09.74.76.80.67</a></li>
                        <li>Spécialisation Symfony</li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
                <div class="show_box">
                    <h3 class="show_box_title">Logiciels & Compétences</h3>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>VS Code</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Insomnia</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </li>
                    </ul>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>HTML/CSS</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>PHP</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Javascript</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </li>
                    </ul>
                    <ul class="show_list">
                        <li class="show_list_item">
                            <div>Symfony</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                        </li>
                        <li class="show_list_item">
                            <div>React</div>
                            <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </li>
                        <li class="show_list_item">
                            <div>Bootstrap</div>
                            <div>&#9733;&#9733;&#9733;&#9734;&#9734;</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="show_center">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor perferendis quod maiores minus tempora! Impedit, suscipit possimus perferendis fuga, dignissimos quas cupiditate unde minus perspiciatis facilis ratione culpa laudantium!</p>
                <h4>LOREM IPSUM DOLOR</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat nesciunt debitis error cum fugit omnis, iste esse soluta voluptatem provident quis accusamus! Labore odit praesentium beatae, ullam debitis rerum!</p>
                <h4>LOREM IPSUM DOLOR</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur illo recusandae possimus illum similique voluptas esse perspiciatis, exercitationem quibusdam repellat sint. Repellat a velit magnam nemo molestiae, tenetur nulla iste?</p>
            </div>
            <div class="show_right">
                <div class="show_box">
                    <h3 class="show_box_title">Productions</h3>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                    <a class="production_card_link" href="">
                        <div class="production_card_exemple">
                            <h4>Nom de la production</h4>
                        </div>
                    </a>
                </div>
                <div class="show_box">
                    
                    <h3 class="show_box_title">Photos</h3>
                    <div class="show_box_img">
                        <img class="show_img" src="{{ asset("assets/images/photos/guillaume.jpg") }}" alt="">
                        <img class="show_img" src="{{ asset("assets/images/photos/guillaume.jpg") }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>




    {# <header class="show_header">
        <h1>{{ parcour.name }}</h1>
        <h3>Formation développeur web & web mobile  </h3>
    </header>
    <body>
        <div>
            <p>{{ parcour.description }}</p>
        </div>
        <div class="software_index">
            {{dump(parcour)}}
        </div>
        <div class="parcour_photo">
            {{ for photo in photos }}
                
            {{ endfor }}
        </div>
        {% if (parcour.YoutubeVideo is defined) %}
            <div>
                <iframe class="youtube" width="560" height="315" src="{{ parcour.YoutubeVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
    </body> #}

    <a href="{{ path('parcours') }}">back to list</a>

    <a href="{{ path('parcours_edit', {'id': parcour.id}) }}">edit</a>

    {{ include('parcours/_delete_form.html.twig') }}
{% endblock %}
