{% extends 'base.html.twig' %}

{% block title %}Production index{% endblock %}

{% block body %}
    <h1>Production index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Link</th>
                <th>Code_screen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production in productions %}
            <tr>
                <td>{{ production.id }}</td>
                <td>{{ production.name }}</td>
                <td>{{ production.picture }}</td>
                <td>{{ production.description }}</td>
                <td>{{ production.link }}</td>
                <td>{{ production.codeScreen }}</td>
                <td>
                    <a href="{{ path('production_show', {'id': production.id}) }}">show</a>
                    <a href="{{ path('production_edit', {'id': production.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('production_new') }}">Create new</a>
{% endblock %}
