{% extends 'base.html.twig' %}

{% block title %}Mes Productions{% endblock %}

{% block body %}
    <div class="whole_body">
    <h1>Mes Productions</h1>
    <div class="parcours_cards">
        
        
        <div class="parcours_card" id="cinema_card">
            <a class="production_card_header"href="{{ path('audiovisuel_index') }}">
                    <h3 class="production_card_title">Contenu Audiovisuel</h3>
            </a>
            
            <div class="production_card_footer">
                {% for audiovisuel in audiovisuels %}
                <a class="production_card_link" href="{{ path('audiovisuel_show', {'id': audiovisuel.id }) }}">
                    <div class="production_card_exemple">
                        <h4>{{ audiovisuel.name }}</h4>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>
        <div class="parcours_card" id="internet_card">
            <a class="production_card_header"href="{{ path('application_index') }}">
                    <h3 class="production_card_title">Sites & Applications</h3>
            </a>
            
            <div class="production_card_footer">
                {% for application in applications %}
                <a class="production_card_link" href="{{ path('application_show', {'id': application.id}) }}">
                    <div class="production_card_exemple">
                        <h4>{{ application.name }}</h4>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if app.user %}
        <div>
            <a href="{{ path('parcours_new') }}">Create new</a>
        </div>
    {% endif %}
{% endblock %}
