{% extends 'base.html.twig' %}

{% block title %}Production{% endblock %}

{% block body %}
    <header class="show_header">
        <h1>{{ production.name }}</h1>
        <h3>Formation développeur web & web mobile  </h3>
    </header>
    <body>
        <div>
            <p>{{ production.description }}</p>
        </div>
        <div class="show_photo">
            {# {{ for photo in photos }}
                
            {{ endfor }} #}
        </div>
        {% if (production.YoutubeVideo is defined) %}
            <div>
                <iframe class="youtube" width="560" height="315" src="{{ production.YoutubeVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
    </body>


    <a href="{{ path('production') }}">back to list</a>

    <a href="{{ path('production_edit', {'id': production.id}) }}">edit</a>

    {{ include('production/_delete_form.html.twig') }}
{% endblock %}
